<div class="nav" id="navbar">
  <div class="container">
    <ul class="nav" id="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/tutorials.html">Tutorials</a></li>
      <li class="navright"><a href="/about.html">About</a></li>
      <li class="icon">
        <a id="responsivebutton" href="javascript:void(0);"
          ><i class="fa fa-bars"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
