<footer class="bg-white border-t border-gray-400 shadow">
  <div class="container max-w-4xl mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full md:w-1/2 ">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">About</h3>
          <p class="py-4 text-gray-600 text-sm">
              My name is Elijah Tarr, and I am currently a senior at Tamalpais High School in California.
              This website is a way for me to present what I do to others. If you see a problem or something you think you can improve, please
              <a class="font-bold text-green-500" href="//github.com/eoriont/eoriont.github.io/pulls">submit a PR</a> or
              <a class="font-bold text-green-500" href="//github.com/eoriont/eoriont.github.io/issues">submit an issue!</a>
          </p>
        </div>
      </div>

      <div class="flex w-full md:w-1/2">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">Social</h3>
          <ul class="list-reset items-center text-sm pt-3">
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="//github.com/eoriont">GitHub</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="//www.youtube.com/channel/UCiydtLctNvtvO2ieS_A0eLQ">YouTube</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="//twitch.tv/eoriont">Twitch</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
