<!DOCTYPE html>
<html lang="en">

{% include head_section.html %}

<body class="bg-gray-100 leading-normal tracking-normal">

	{% include newnav.html %}

	<!--Container-->
	<div class="container w-full md:max-w-3xl mx-auto pt-20">

		<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family: Georgia, serif;">

			<!--Title-->
			<div class="">
        {% if page.tags contains "post" %}
          <p class="text-base md:text-sm text-green-500 font-bold">&lt; <a href="/posts" class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Back to posts</a></p>
        {% endif %}
        <h1 class="font-bold break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">{{ page.title }}</h1>
        {% if page.tags contains "post" %}
          <p class="text-sm md:text-base font-normal text-gray-600">Published {{ page.date | date: "%-d %B %Y" }}</p>
          <br>
        {% endif %}
			</div>


			<!--Post Content-->

      <div id="markdown">
        {{ content }}
      </div>

			<!-- / Post Content -->

		</div>

    <br>

    {% if page.tags contains 'post' %}
      {% include postjargon.html %}
    {% endif %}

	</div>
	<!--/container-->

	{% include newfooter.html %}

	<script src="/assets/js/progressbar.js"></script>

  <!-- Assumes that posts have at least 1 tag -->
  {% if page.tags.size > 0 or page.markdown %}
    <script src="/assets/js/mdclasses.js"></script>
  {% endif %}

</body>

</html>
